<launch>
    <!--Select which sensors to perform SLAM with.-->
    <arg name="use_imu" default="false"/>
    <param name="use_imu" value="$(arg use_imu)"/>
    <arg name="use_2dlidar" default="true"/>
    <param name="use_2dlidar" value="$(arg use_2dlidar)"/>
    <arg name="use_depth" default="false"/>
    <param name="use_depth" value="$(arg use_depth)"/>

    <!--Arguments for obtaining and visualizing SLAM results.-->
    <arg name="launch_rviz" default="false"/>
    <arg name="record_rosbag" default="false"/>

    <!--Set configured parameters and launch nodes according to specified sensors.-->
    <rosparam file="$(find a1_slam)/config/config.yaml" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_broadcaster" args="0 0 0 0 0 0 1 world map"/>
    <!-- <node pkg="a1_slam" type="OptimizerNode.py" name="optimizer_node"/>
    <node pkg="a1_slam" type="Lidar2DNode.py" name="lidar2d_node" if="$(arg use_2dlidar)"/>
    <node pkg="a1_slam" type="ImuNode.py" name="imu_node" if="$(arg use_imu)"/> -->
    <node pkg="a1_slam" type="test.py" name="test"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find a1_slam)/rviz/a1_slam.rviz" if="$(arg launch_rviz)"/>
    <node pkg="rosbag" type="record" name="results_rosbag" 
        args="record -a -o A1_results" if="$(arg record_rosbag)"/>
        
</launch>