<launch>
    <!--Select which sensors to perform SLAM with.-->
    <arg name="use_imu" default="false"/>
    <param name="use_imu" value="$(arg use_imu)"/>
    <arg name="use_2dlidar" default="true"/>
    <param name="use_2dlidar" value="$(arg use_2dlidar)"/>
    <arg name="use_3dlidar" default="false"/>
    <param name="use_3dlidar" value="$(arg use_3dlidar)"/>
    <arg name="use_depth" default="false"/>
    <param name="use_depth" value="$(arg use_depth)"/>

    <!--Testing parameter is only set for integration tests.-->
    <param name="testing" value="false"/>

    <!--Arguments for obtaining and visualizing SLAM results.-->
    <arg name="launch_rviz" default="true"/>
    <arg name="record_rosbag" default="false"/>

    <!--Set configured parameters and launch nodes according to specified sensors.-->
    <rosparam file="$(find a1_slam)/config/config.yaml" />

    <!--Launch depth image processing nodelets if using depth images.-->
    <group if="$(arg use_depth)">
        <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

        <node pkg="nodelet" type="nodelet" name="process_depth_nodelet"
                args="load depth_image_proc/point_cloud_xyz nodelet_manager">
            <remap from="camera_info" to="/camera/depth/camera_info"/>
            <remap from="image_rect" to="/camera/depth/image_rect_raw"/>
            <remap from="points" to="/camera/depth/points"/>
        </node>
    </group>

    <node pkg="tf2_ros" type="static_transform_publisher" name="baseTimu"
        args="0 0 0 0 0 0 1 base_link imu"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="baseTlidar"
        args="0.10944 0.01562 0.1244  0 0 0 1 base_link laser"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="baseTdepth"
        args="0 0 0 -0.5 0.5 -0.5 0.5 base_link depth_optical_frame"/>
    <node pkg="a1_slam" type="A1SlamNode.py" name="a1_slam_node" output="screen"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find a1_slam)/rviz/a1_slam.rviz"
        if="$(arg launch_rviz)"/>
    <node pkg="rosbag" type="record" name="results_rosbag" 
        args="record -a -o A1_results" if="$(arg record_rosbag)"/>

    <!--Remap the /tf from the A1 to remap the frame ids.-->>
    <node pkg="tf" type="tf_remap" name="tf_remapper" output="screen">
        <rosparam param="mappings">
            [
                {old: /odom, new: /slamware_odom},
                {old: /base_link, new: /slamware_base_link}
            ]
        </rosparam>
    </node>

</launch>