<launch>
    <arg name="use_imu" default="false"/>
    <arg name="use_2dlidar" default="true"/>
    <arg name="use_depth" default="false"/>

    <param name="use_imu" value="$(arg use_imu)"/>
    <param name="use_2dlidar" value="$(arg use_2dlidar)"/>
    <param name="use_depth" value="$(arg use_depth)"/>

    <rosparam file="$(find a1_slam)/config/config.yaml" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_broadcaster" args="0 0 0 0 0 0 1 world map"/>
    <node pkg="a1_slam" type="OptimizerNode.py" name="optimizer_node"/>
    <node pkg="a1_slam" type="Lidar2DNode.py" name="lidar2d_node" if="$(arg use_2dlidar)"/>
    <node pkg="a1_slam" type="ImuNode.py" name="imu_node" if="$(arg use_imu)"/>
</launch>